* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    --color1:#32373c;
    --color2:#fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* navbar */

.open-menu,.close-menu{display: none;}
input[type=checkbox]{display: none;}
nav{
    display: flex;
    padding: 10px 0;
    height: 90px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--color1);
    opacity: 99%;
    top: 0px;
}

.icon{
    display: none;
}

.logo img{
    width: 150px;
    margin: auto 10px;
}

.menu{
    text-transform:uppercase;
    font-weight:bold;
}

nav ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
nav ul li{
    padding: 0 20px;
}

.menu li a{
color: var(--color2);

}
.menu li a:hover{
    color: #f64668;
    border-bottom: 3px solid #f64668;
    padding: 2px 0;
}

.submenu-profil{
    display: none;
    width: 23%;
    left: 370px;
    position: absolute;
    background-color: var(--color1);
    opacity:99%;
    text-align: left;
}
.submenu-profil li{
    margin: 20px 0;
}

.submenu-layanan{
    display: none;
    width: 23%;
    left: 720px;
    position: absolute;
    background-color: var(--color1);
    text-align: left;
}
.submenu-layanan li{
    margin: 20px 0;
}

#profil:focus-within .submenu-profil,
#profil:hover .submenu-profil{ 
    display: block;  
    }

#layanan:focus-within .submenu-layanan, 
#layanan:hover .submenu-layanan{ 
    display: block;  
    }

.footer{
    display: flex;
    color: var(--color2);
    background-color: var(--color1);
    position: relative;
    bottom: -200px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}




.content-image1{
    background-image: url(./img/KantorDesa.png);
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
}

.content-image1 p{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 5px black;
}

.content-image2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-image2 .avatar img{
    width: 70%;
    margin-left: 40px;
}

.sambutan{
    padding-right: 20px;
    text-align: justify;
}

.sambutan p:nth-child(2){
    font-size: 20px;
    font-style: italic;
    font-family:Cambria;
}
.sambutan p:nth-child(3){
    font-size:16px;
    font-weight: bold;
}

.content-image3{
    background-image:url(./img/kaintenun_waifu2x_photo_noise3_scale.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.content-image3 ul{
    display: flex;
    justify-content: space-between;
}

.content-image3 ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color2);
    padding: 0px 50px;
    margin-top: 30vh;
}


.content-image3 ul li img{
    margin: 0px 50px;
    font-weight: bold;    
}

.content-image3 ul li h3{
    margin-top: -10px;
}

.content-image4{
    text-align: center;
    height: 70vh;
}

.content-image4 .layanan{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.content-image4 .layanan li img{
    border-radius: 20%;
    background-color: black;
}





.content-image5{
    display:block;
    height: 120vh;
    text-align: center ;
}



.content-image6{
    display:block;
    text-align: center;
    height: 100vh;

}
.content-image6 .gambar img{
    width: 100%;
    height: 100vh;
}



/* page batas wilayah */

.gambarbataswilayah img {
    width: 100%;
}

/* demografi */

.gambardemografi img {
    width: 98%;
    margin: 50px auto;
}

/* kesehatan */

section {
    padding: 100px 50px;
    font-size: 14px;
    margin-bottom: -170px;
}

section p {
    padding: 0 10px;
}

div.gallery {
    border: 1px solid #ccc;
    border-radius:2%;
    width: 40%;
    margin: 20px 20px;
    transition: all 0.2s;
    box-shadow: 2px 10px #888888;
}

div.gallery:hover {
    transform:scale(1.03);
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 2%;
}

div.nama {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.content-layananPendidikan {
    display: flex;
    padding: 10px 10px;
    width: 100%;
}

/* sejarah */
.header p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.gambarsejarah img{
    width: 100%;
}

.contentsejarah{
    text-align: justify;
}


/* sotk */
span p {
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(57, 55, 55);
}

.imagesotk{
    text-align: center;
}

.imagesotk img{
    width: 85%;
}

.content-tgs {
    width: 85%;
    border: 3px solid rgb(81, 71, 71);
    background-color: rgb(247, 244, 244);
}

.content-tgs {
    margin: auto;
}


/* visimisi */
.content-imagevisimisi {
    width: 80%;
    margin: 0px auto;
    margin-bottom: -230px;
}















@media only screen and (max-width: 576px) {
    .open-menu,.close-menu{display: block;}
    nav{
        justify-content: space-between;
    }

    .logo img{
        width: 150px;
    }

    .menu {
        display: none;
        position: absolute;
        top: -40px;
        height: 100vh;
        flex-direction: column;
        justify-content:space-evenly;
        margin-top: 120px;
        background-color: var(--color1);
    }
    
    .menu li{
        margin-top: -70px;
        margin-left: -30px;
    }
    
    input[type=checkbox]{
        display: none;
    }
    
    .ham{
        color: var(--color2);
        font-size: 50px;
    }
    .open-menu{
        margin-right: 20px;
    }
    .close-menu{
        display: none;
        color: var(--color2);
        font-size: 50px;
        margin-right: 20px;
        position: relative;
        top: -570px;
        right: -150px;

    }
    #check:checked ~ .menu{      
        display: flex;
    }
    #check:checked ~ .open-menu{
        display: none;
    }

    #check:checked ~ .close-menu{
        display: flex;
    }


    .submenu-profil{
        width: 100%;
        left: 0;
        top: 210px;
        background-color: var(--color1);
        opacity: 100%;
    }

    .submenu-profil li{
        margin-top: 20px;
        text-align: center;
    }
    
    .submenu-layanan{
        width: 100%;
        left: 0;
        top: 420px;
        background-color: var(--color1);
        opacity: 100%;
    }

    .submenu-layanan li{
        margin-top: 20px;
        text-align: center;
    }
























    .content-image1{
        background-image: url(./img/KantorDesa.png);
        width: 100%;
        min-height: 65vh;
        background-position:0px 90px;
        background-repeat: no-repeat;
        background-size:contain;
    }

    .content-image2{
        flex-direction: column;
        padding: 1px;
    }

    .content-image2 .avatar{
          display: flex;
          justify-content:center;
          margin-right:40px;
    }

    .content-image2 .sambutan{
        padding-right: 0px;
    }

    .content-image3{
        width:100%;
        height: 50vh;
        overflow:hidden
    }
    .content-image3 ul{
        margin-left:-30px;
        flex-wrap: wrap;
    }

    .content-image3 ul li{
        font-size: 10px;
        margin: 10px -20px;
        padding: 0px;
    }

    .content-image4 .layanan{
        flex-wrap: wrap;
    }

    .content-image4 .layanan li{
        margin-right: 20px;
    }
    .content-image4 .layanan li img{
        border-radius: 20%;
        background-color: black;
    }

    .content-image5{
        height: auto;
    }

    .content-image5 .berita{
        width: 100%;
        flex-wrap: wrap;
    }

    .content-image5 .berita iframe{
        width: 100%;
    }

    .content-image6{
        height: 30vh;
    }

    .content-image6 .gambar img{
        height: auto;
    }

    .footer{
        font-size: 12px;
    }





    section{
        padding-left: 2px;
        padding-right: 2px;
        margin: 0;
    }

    .content-imagevisimisi img{
        margin: 100px 0;
        width: 120%;
        height: 70vh;
        margin-bottom: 120px;
        margin-left: -30px;
    }

    .imagesotk{
        width:100%;
    }

    .content-tgs{
        padding: 10px;
        width: 100%;
    }
    .content-layananPendidikan{
        margin-bottom: 180px;
        flex-wrap: wrap;
    }

    .content-layananPendidikan .gallery{
        width: 100%;
    }

    .content-layananPendidikan .gallery:nth-child(3){
        margin-bottom: -180px;
    }
    
    .gambardemografi{
        margin-bottom:200px;
    }

  }